@{
    ViewData["Title"] = "Новость успешно создана";
    ViewData["PageTitle"] = "Новость создана";
}
<h1>@ViewData["Title"]</h1>

<p>После прохождения модерации она отобразится в ленте новостей.</p>
